<html>
    <head>
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}"><b>Forgotify Listened:</b></a>

            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('mystuffsongs') }}">My Stuff</a>
            <a href="{{  url_for('recommended') }}">Recommended</a>
            <a href="{{ url_for('logout') }}">Logout</a>

        </div>
        <hr>
        {%  with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {%  for message in messages %}
            <li>{{  message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>