{%  extends 'bootstrap/base.html' %}

{% block title %}
    {{ title }} Forgotify listened
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ url_for('index') }}">Forgotify Listened: </a>
                {% if current_user.is_anonymous %}
                <a href="{{  url_for('recommended') }}">Recommended</a>
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('mystuffsongs') }}">My Stuff</a>
                <a href="{{  url_for('recommended') }}">Recommended</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block scripts %}

<script>

    // {% if current_user.is_authenticated %}
    //     $(function() {
    //         var since = 0;
    //         setInterval(function() {
    //             $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
    //                 function(notifications) {
    //                     for (var i = 0; i < notifications.length; i++) {
    //                         if (notifications[i].name == 'unread_message_count')
    //                         set_message_count(notifications[i].data);
    //                         since = notifications[i].timestamp;
    //                     }
    //                 }
    //             );
    //         }, 10000);
    //     });
    // {% endif %}

    // function set_task_progress(task_id, progress) {
    //     $('#' + task_id + '-progress').text(progress);
    // }
</script>

{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
        {% if tasks %}
            {% for task in tasks %}
            <div class="alert alert-info" role="alert">{{ task }}
                {{ task.description }}
                <span id="{{ task.id }}-progress" >{{ task.get_progress() }}</span>%
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %} -->
    </div>

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
{% endblock %}

<html>
    <style>
        p.footer{
            display: flex;
            justify-content: center;
            vertical-align: bottom;
        }
    </style>
    <head>
    </head>
    <body>
        <p class=footer valine="bottom">
            <a href="{{ url_for('contact') }}">Contact Us</a>
        </p>
    </body>
</html>