{% extends "base.html" %}

{% block content %}
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
     <h1>Contact Us</h1>
     <h2>Under Construction!</h2>
<!--    <form action="" method="post" novalidate>-->
<!--    {{ form.hidden_tag() }}-->
<!--    <p>-->
<!--        {{ form.event_name.label }}<br>-->
<!--        {{ form.event_name(size=32) }}<br>-->
<!--        {% for error in form.event_name.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--        {% if event_name in events_list %}-->
<!--        <span style="color: red;">Event already exists</span>-->
<!--        {% endif %}-->
<!--    </p>-->
<!--    <p>-->
<!--        {{ form.event_datetime.label }}<br>-->
<!--        {{ form.event_datetime(size=32) }}<br>-->
<!--        {% for error in form.event_datetime.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--    </p>-->
<!--    <p>-->
<!--        {{ form.venue.label }}<br>-->
<!--        {{ form.venue }}<br>-->
<!--        {% for error in form.venue.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--    </p>-->
<!--    <p>-->
<!--        {{ form.artists.label }}<br>-->
<!--        {{ form.artists(size=5) }}<br>-->
<!--        {% for error in form.artists.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--    </p>-->

<!--    <p>{{ form.submit() }}</p>-->
<!--    </form>-->
</body>
{% endblock %}