{% extends "base.html" %}

{% block content %}
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
     <h1>Contact Us</h1>
<!--     <form action="" method="post" novalidate>-->
<!--     {{ form.hidden_tag() }}-->
<!--     <p>-->
<!--        {{ form.email.label }}<br>-->
<!--        {{ form.email(size=32) }}<br>-->
<!--        {% for error in form.email.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--     </p>-->
<!--     <p>-->
<!--        {{ form.subject.label }}<br>-->
<!--        {{ form.subject(size=32) }}<br>-->
<!--        {% for error in form.subject.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--     </p>-->
<!--     <p>-->
<!--        {{ form.feedback.label }}<br>-->
<!--        {{ form.feedback(size=32) }}<br>-->
<!--        {% for error in form.feedback.errors %}-->
<!--        <span style="color: red;">{{ error }}</span>-->
<!--        {% endfor %}-->
<!--     </p>-->
<!--     <p>{{ form.submit() }}</p>-->
<!--    </form>-->
</body>
{% endblock %}