{% extends "base.html" %}

{% block app_content %}
<link rel="stylesheet"
      href="{{url_for('static', filename='forgotify.css')}}">
{% if current_user.is_anonymous %}
<a class="btn btn-primary btn-lg  btn-block" href="{{ url_for('login') }}" target="_blank" rel="noopener noreferrer">Login</a><br>
    <h2>Most Forgotten (Overall on the Site):</h2>
    {% if mfs | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('song', id=mfs[i].song.id) }}"><img class="card-img-top" src="{{ mfs[i].song.album.img }}"></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('song', id=mfs[i].song.id) }}">{{ mfs[i].song.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2>Recommended by Users:</h2>
{% else %}
<h2>Most Forgotten (Overall on the Site):</h2>
    {% if mfs | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('song', id=mfs[i].song.id) }}"><img class="card-img-top" src="{{ mfs[i].song.album.img }}"></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('song', id=mfs[i].song.id) }}">{{ mfs[i].song.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2>Recommended by Users:</h2>
{% endif %}
{% endblock %}