{% extends "base.html" %}

{% block scripts %}
<script>
    function set_task_progress(task_id, progress) {
        $('#' + task_id + '-progress').text(progress);
    }
</script>
{% endblock %}

{% block content %}

<div class="container">
    {% if current_user.is_authenticated %}
    {% with tasks = current_user.get_tasks_in_progress() %}
    {% if tasks %}
    {% for task in tasks %}
    <div class="alert alert-success" role="alert">
        {{ task.description }}
        <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endif %}
</div>

{% endblock %}