{% extends "base.html" %}

{% block content %}

<html>
<head>
    <title>My Most Forgotten Songs:</title>
</head>
<body>
    <h2>My Most Forgotten Songs:</h2>
    <!--        <h2>{{ User.songs }}</h2>-->
        <a href="{{ url_for('song', name=User.songs) }}">{{ User.songs }}</a><br>
        <h2>{{ User.songs }}</h2>
<!--    <h2>{{ User.songs }}</h2>-->
<!--    {% for song in songs %}-->
<!--        <h2>{{ User.songs }}</h2>-->
<!--        <a href="{{ url_for('song', name=song.name) }}">{{ song.name }}</a><br>-->
<!--    {% endfor %}-->

</body>
</html>
{% endblock %}