{% extends "base.html" %}

{% block app_content %}
    <h2>My Most Forgotten Artists:</h2>
    {% if user.forgotten_artists.all() | length > 0 %}
        <div class="row">
            {% for i in range(0, user.forgotten_artists.all() | length) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('artist', id=user.forgotten_artists[i].artist.id) }}"><img class="card-img-top" src="{{ user.forgotten_artists[i].artist.img }}"></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('artist', id=user.forgotten_artists[i].artist.id) }}">{{ user.forgotten_artists[i].artist.name }}</a></h5>
                            </div>
                        </div>
                    </div><br>
                </div>
            {% endfor %}
        </div>        
    {% endif %}
{% endblock %}