{% extends "base.html" %}

{% block app_content %}
    <div class="btn-group">
        <a href="{{ url_for('mystuffartists') }}" class="btn btn-primary active">My Artists</a>
        <a href="{{ url_for('mystuffsongs') }}" class="btn btn-primary">My Songs</a>
    </div>
    <h2>My Most Forgotten Artists:</h2>
    {% if user.forgotten_artists.all() | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('artist', id=user.forgotten_artists[i].artist.id) }}"><img class="card-img-top" src={{user.forgotten_artists[i].artist.img}}></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('artist', id=user.forgotten_artists[i].artist.id) }}">{{ user.forgotten_artists[i].artist.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <a class="btn btn-primary" href="{{ url_for('mostforgottenartists') }}">Most Forgotten Artists</a>
    <h2>Artists From a Year Ago:</h2>
    {% if user.one_year_artists.all() | length > 5 %}
        <div class="row">
        {% for i in range(0, 5) %}
            <div class="col-md-2">
                <div class="card">
                    <a href="{{ url_for('artist', id=user.one_year_artists[i].artist.id) }}"><img class="card-img-top" src="{{user.one_year_artists[i].artist.img}}"></a>
                    <div class="card-title">
                        <div class="text-center">
                            <h5><a class="card-text" href="{{ url_for('artist', id=user.one_year_artists[i].artist.id) }}">{{ user.one_year_artists[i].artist.name }}</a></h5> 
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <br>
    <a class="btn btn-primary" href="{{ url_for('oneyearartists') }}">Year Ago Artists</a>
    <h2>Artists From 6 Months Ago:</h2>
    {% if user.six_month_artists.all() | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
            <div class="col-md-2">
                <div class="card">
                    <a href="{{ url_for('artist', id=user.six_month_artists[i].artist.id) }}"><img class="card-img-top" src="{{ user.six_month_artists[i].artist.img }}"></a>
                    <div class="card-title">
                        <div class="text-center">
                            <h5><a class="card-text" href="{{ url_for('artist', id=user.six_month_artists[i].artist.id) }}">{{ user.six_month_artists[i].artist.name }}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
    {% endif %}
    <br>
    <a class="btn btn-primary" href="{{ url_for('sixmonthsartists') }}">Six Months Artists</a>
    <br><br>
{% endblock %}