{% extends "base.html" %}

{% block app_content %}
    <div class="btn-group">
        <a href="{{ url_for('mystuffartists') }}" class="btn btn-primary">My Artists</a>
        <a href="{{ url_for('mystuffsongs') }}" class="btn btn-primary active">My Songs</a>
    </div>
    <h2>My Most Forgotten Songs:</h2>
    {% if user.forgotten_songs.all() | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('song', name=user.forgotten_songs[i].song.name)}}"><img class="card-img-top" src="{{ user.forgotten_songs[i].song.album.img }}"></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('song', name=user.forgotten_songs[i].song.name) }}">{{ user.forgotten_songs[i].song.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    <br>
    <a class="btn btn-primary" href="{{ url_for('mostforgottensongs') }}">Most Forgotten Songs</a>
    <h2>Songs From a Year Ago:</h2>
    {% if user.one_year_songs.all() | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('song', name=user.one_year_songs[i].song.name) }}"><img class="card-img-top" src="{{ user.one_year_songs[i].song.album.img }}"></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('song', name=user.one_year_songs[i].song.name) }}">{{ user.one_year_songs[i].song.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <a class="btn btn-primary" href="{{ url_for('oneyearsongs') }}">Year Ago Songs</a>
    <h2>Songs From 6 Months Ago:</h2>
    {% if user.six_month_songs.all() | length > 5 %}
        <div class="row">
            {% for i in range(0, 5) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('song', name=user.six_month_songs[i].song.name) }}"><img class="card-img-top" src="{{ user.six_month_songs[i].song.album.img }}"></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('song', name=user.six_month_songs[i].song.name) }}">{{ user.six_month_songs[i].song.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>        
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('sixmonthssongs') }}">Six Months Songs</a>
    <br><br>
{% endblock %}