{% extends "base.html" %}

{% block content %}

<html>
<head>
    <title>My Stuff Songs</title>
</head>
<body>
    <h2>My All Time Most Forgotten Songs:</h2>
        <li>
            {% for song in mFSongs %}
            <li><b>{{ song.song_name}}</b></li>
            {% endfor %}
        </li>
    <h2>Songs From a Year Ago:</h2>
        <li>
            {% for song in ySongs %}
            <li><b>{{ song.song_name}}</b></li>
            {% endfor %}
        </li>
    <h2>Songs From 6 Months Ago:</h2>
        <li>
            {% for song in sMSongs %}
            <li><b>{{ song.song_name}}</b></li>
            {% endfor %}
        </li>
</body>
</html>
{% endblock %}