{% extends "base.html" %}

{% block content %}

    <h1>Terms of service</h1>
    <p>
        We don't store your credit card information, and will not use it for world domination payments for the first time when you purchase a new card from
        your bank account. You can use the credit card information to purchase a new card from your bank account and then purchase the new card from your account
    </p>
    <h1>
        <a href="{{ auth_url }}">I agree to the terms of service</a>
    </h1>

{% endblock %}