{% extends "base.html" %}

{% block app_content %}
    <h2>My Forgotten Songs From the Past 6 Months:</h2>
    {% if user.six_month_songs.all() | length > 0 %}
        <div class="row">
            {% for i in range(0, user.six_month_songs.all() | length) %}
                <div class="col-md-2">
                    <div class="card">
                        <a href="{{ url_for('song', id=user.six_month_songs[i].song.id) }}"><img class="card-img-top" src={{user.six_month_songs[i].song.album.img}}></a>
                        <div class="card-title">
                            <div class="text-center">
                                <h5><a class="card-text" href="{{ url_for('song', id=user.six_month_songs[i].song.id) }}">{{ user.six_month_songs[i].song.name }}</a></h5>
                            </div>
                        </div>
                    </div><br>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}